.cart-top{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: cornsilk;
    background-clip: border-box;
    position: relative;
    flex-direction: column;
    border: 1px solid darkblue;
    border-radius: .25rem;
}
.items{
    margin: 0px 15px;
    text-align: center;
}
.items.img{
    width: 65px;
}
.items a:hover{
    color: blue;
}
.pagination::ng-deep .ngx-pagination .current{
    background: rgb(50, 175, 50);
}